nav {
    background-color: #3a497b;
    justify-content: flex-start;
    /* border-radius: 15px; */
    box-shadow: 20px 20px 60px#000000,
        -20px -20px 60px #000000;
}

body {
    background-color: #272b30;
}

.header {
    object-fit: cover;
    max-height: 30vh;
}

.header img {
    color: #fff;
    display: inline;
    line-height: 24px;
}

.card-body .title {
    color: #fff;
    /* font-family: Nerko One; */
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    margin: 0px 0px 8px;
}

.card-body span {
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    padding: 8px;
    text-align: center;
}


.card-text {
    color: #fff;
    /* font-family: Comfortaa; */
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.card-footer span {
    background-color: #32383e;
    border-radius: 6px;
    color: #fff;
    font-size: 10.5px;
    font-weight: 700;
    line-height: 10.5px;
    padding: 3.675px 6.825px;
    text-align: center;
}

.card {
    background-color: #272b30;
    width: 100%;
    max-width: 20rem;
    height: 100%;
    transition: all 0.3s ease-out;
}

.card:hover {
    transform: scale(1.1);
}

.card-body h5 {
    font-size: small;
    font-weight: bold;
}

.card-body, .card-footer {
    padding: 10px;
}


/* ?___________ */

.card .span .bg-gray {
    background-color: #3a497b;
    transition: all 0.4s ease-in;
}

.card:hover .bg-gray {
    background-color: #0d6efd;
}

/* ?_____ */
.bg-gray {
    background-color: #3a497b;
}

.img-logo {
    width: 45px;
}

.card-img-top img {
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    display: inline;
    line-height: 24px;
    margin: 10px;
    border-radius: 5px;
    filter: grayscale(100%);
    transition: all 0.3s ease;
}

.card:hover img {
    filter: none;
}

.nav-item .nav-link {
    font-weight: 600;

}


.nav-item .nav-link.active,
.nav-item .nav-link:hover {
    color: #09c !important;
    transition: color 0.5s;
}

/* ? loading */
.loading {
    position: fixed;
    z-index: 9999;
    inset: 0;
    background-color: #272b30e3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: relative;
}

.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left: 4px solid #ff3d00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}